*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #5D829E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5D829E;
    font-size: 25px;
    height: 80px;
    padding: 10px;
}
.logo{
    text-transform: uppercase;
    text-align: center;
}
.logo span{
    color: #070808;
    }
    .barra{
        float: right;
    }
.barra ul li{
    list-style: none;
    display: inline-block;
}
.barra ul li a{
    text-decoration: none;
    color: #020202;
}
main{
    text-align: center;
    height: 100vh;
    width: 100%;  
    background-size: cover; 
    background-image: url(/mult/fondo.jpg)
}
.call{
    color: #000;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer{
    background-color:#5D829E;   
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    
}
.somos{
    text-align: center;
}
.tsomos{
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.lredes{
    text-align: left;
}
.productos{
    padding-left: 10%;
    padding-right: 10%;
}
.tredes{
    text-align: center;
}
.slider{
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 10s infinite linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}